[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
dj-database-url = "*"
django = "*"
mako = "*"
django-mako-plus = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"


[dev-packages]



[requires]

python_version = "3.6"
